@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow: hidden;
}
header {
    height: 90px;
}
/* Style cho thanh cuộn */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 6px;
    background-color: #a8a29e;
    border: 3px solid transparent;
    background-clip: padding-box;
    transition: background-color 1s, border 1s;
}

::-webkit-scrollbar-track {
    background-color: #e7e5e4;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8a29e !important;
    border: 0;
    transition: background-color 1s, border 1s;
    cursor: pointer;
}

/* Tùy chỉnh màu chủ đạo */
.bg-primary {
    background-color: #3294c9;
}

.text-primary {
    color: #3294c9;
}

.border-primary {
    border-color: #3294c9;
}

.hover\:bg-primary:hover,
.sidebar-active {
    background-color: #2878a5;
}

/* Sidebar gradient */
.sidebar-gradient {
    background: #3294c9;
    height: calc(100vh - 90px);
}

/* Full height */
html,
body {
    height: 100%;
    margin: 0;
}

/* Search box */
.search-box {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-box::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.ban {
    background-color: #fee2e2 !important; /* Nền đỏ nhạt */
    color: #b91c1c; /* Chữ đỏ đậm */
}
.ban td {
    border-color: #fca5a5; /* Tùy chỉnh màu viền nếu cần */
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.page-item.disabled .page-link {
    color: #aaa;
    pointer-events: none;
}

.page-item.active .page-link {
    background-color: #2878a5;
    color: #fff;
    border-color: #2878a5;
}

/* endpoint */
/* CSS cho sidebar */
.sidebar-gradient {
    transition: width 0.3s ease;
}

/* Thu nhỏ sidebar khi màn hình nhỏ */
@media (max-width: 768px) {
    .sidebar-gradient {
        width: 64px; /* Chỉ hiển thị đủ cho icon */
    }

    .sidebar-gradient nav ul li a span {
        display: none; /* Ẩn văn bản */
    }

    .sidebar-gradient nav ul li a {
        justify-content: center; /* Căn giữa icon */
    }

    .sidebar-gradient nav ul li a svg {
        margin-right: 0; /* Loại bỏ khoảng cách giữa icon và văn bản */
    }
}
#toggleSidebar {
    margin-top: 74px;
    /* margin-left: -5px; */
}
.sidebar-gradient.collapsed {
    width: 80px; /* Chỉ hiển thị đủ cho icon */
}

.sidebar-gradient.collapsed nav ul li a span {
    display: none; /* Ẩn văn bản */
}

.sidebar-gradient.collapsed nav ul li a {
    justify-content: center; /* Căn giữa icon */
}

.sidebar-gradient.collapsed nav ul li a svg {
    margin-right: 0; /* Loại bỏ khoảng cách giữa icon và văn bản */
}
